.nav{
  background-color: #0b0e1d;
  width: 100%;
  height: 45px;
  border: .5px solid rgba(255, 255, 255, 0.082);
  position: fixed;
  z-index: 99;
}

.hero {
  background-image: linear-gradient(
      rgba(10, 11, 31, 0.562),
      rgb(0, 2, 19)
    ),
    url('../assets/img/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  padding: 50px 30px 0px;
  color: white;
  z-index: 4;
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 31, 40, 0.829);
  z-index: 3;
}

.contents {
  background-image: linear-gradient(
      rgba(209, 209, 228, 0.349),
      rgba(209, 209, 228, 0.2)
    ),
    url('../assets/img/bg.jpg');
  background-size: cover;
  background-position: 60% 30%;
  padding: 5px;
  border-radius: 3px;
  min-height: 60%;
}

.contents .container{
  padding: 0;
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 4;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  gap: 10px;
}

.text-apresentation {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.text-apresentation h2 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.text-apresentation h3{
  font-size: 1rem;
  font-weight: 600;
}

.text-apresentation p{
  font-size: .7rem;
  margin-bottom: 0;
  font-weight: 600;
}

.content-text button {
  width: 50%;
  align-self: center;
  padding: 5px;
  margin-bottom: 5px;
}

.modal-content{
  height: 90vh;
  background-color: #0b0e1d;
  color: #f8f8f2;
}

.modal-header{
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.164);
  
}

.modal-header .modal-title{
  text-align: center;
}

.modal-footer{
  border-top: 0.1px solid rgba(255, 255, 255, 0.164);
}

.code-content {
  display: none;
  font-family: 'Courier New', Courier, monospace; /* Fonte monoespaçada */
  white-space: pre; /* Mantém os espaços e quebras de linha */
  padding: 10px; /* Espacamento interno */
  margin-top: 13%;
  font-size: 1rem;
}

.info {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
  z-index: 4;
}

.text-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-info h3 {
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(216, 132, 52);
  margin-bottom: 0;
}

.text-info p {
  color: #f8f8f2;
  font-size: .9rem;
  font-weight: 700;
  margin-bottom: 0;
}

.modal-header .btn-close{
  background-color: #f8f8f2;
}


@media screen and (min-width: 375px) {
  .info{
    margin-top: 15px;
    justify-content: space-evenly;
  }

  .content-text{
    gap: 30px;
  }

  .text-info{
    max-width: 50%;
  }

  .content-text button{
    margin-bottom: 20px;
  }

  .text-info h3{
    font-size: 1.7rem;
  }

  .text-info p{
    font-size: 1rem;
  }
}

@media screen and (min-width: 767px){
  .content-image{
    width: 50%;
  }

  .content-text{
    width: 50%;
  }

  .text-apresentation p{
    font-size: 0.8rem;
  }

  .code-content{
    display: flex;
    margin-top: 10px;
    align-self: start;
    gap: 0;
    padding-top: 0;
  }

  .contents .container{
    justify-content: space-evenly;
  }  

  .modal-content{
    height: 80vh;
  }
}

@media screen and (min-width: 1020px){
  .contents{
    height: 70vh;
  }

  .contents .container{
    height: 100%;
  }

  .content-text{
    gap: 0;
  }

  .text-apresentation p{
    font-size: .8rem;
  }

  .text-apresentation{
    padding-top: 0;
  }

  .text-apresentation div h2{
    font-size: 1.5rem;
  }

  .text-apresentation div h3{
    font-size: 1.2rem;
  }

  .content-text button{
    font-size: .9rem;
    margin-bottom: 0;
    margin-left: 10px;
    align-self: start;
  }

  .text-info h3{
    font-size: 1.8rem;
  }

  .text-info p{
    font-size: 1.3rem;
  }

  .faixa-nav{
    display: none;
  }


}

@media screen and (min-width: 1279px){
  .contents{
    height: 85%;
  }

  .text-apresentation div h2{
    font-size: 2rem;
  }

  .text-apresentation div h3{
    font-size: 1.5rem;
  }

  .text-apresentation p{
    font-size: 1rem;
    
  }

  .content-text button{
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 10px;
    align-self: start;
  }

  code{
    font-size: 1.1rem;
    margin-top: 30px;
  }
}